.jumbotron { 
background-color: green;
color: white;
}

.btn { 
background-color: grey;
color: white;
}

.footer {
padding: 10px 10px 0 10px;
background-color: green;
margin-bottom: 0px ;
margin-top: 10px ;
}


